<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email verification</title>
</head>

<body>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
        <tr>
            <td>&nbsp;</td>
            <td class="container">
                <div class="content">
                    <h2>Verify your email address</h2>
                    <p>Thanks for signing up for {{app_name}}! We're excited to have you as an early user.</p>
                    <p>
                        Before you can start using {{app_name}}, we just need to confirm that this is your email
                        address. Click the button below to verify
                        your email address.
                    </p>
                    <button href="{{verify_link}}">Activate</button>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>

</html>